    
            <div class='jumbotron'>
                <h1>Welcome to the NewsScraper</h1>
                <p>Getting all of your Lifehacker news without any of the ads!...well maybe a few</p>
            </div>